.html {
  margin: 0;
  padding: 0;
  background-color: #1f2022;
  overflow: hidden; 
}

.body {
  margin: 0;
  padding: 0;
  background-color: #1f2022;
  overflow: hidden; 
}

.app-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
